<div>
    <div class="row" style="padding-top: 15px">&nbsp;</div>
    <div class="row align-bottom">
        <div class="col-lg-12">
            <span class="dashboard-title">Dashboard</span> <span class="dashboard-subtitle">Last Login: Saturday Jan 22, 2015 22:00:00</span>
            <a href="#" class="customize-dashboard-button"><i class="fa fa-gear fa-fw"></i> Customize Dashboard</a>
        </div>
    </div>
    <div class="row">
        <hr style="margin-top: 5px;">
    </div>
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-7">
            <profile></profile>
            <account></account>
            <mostvisit></mostvisit>
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-5">
            <receivable></receivable>
            <payable></payable>
            <profitloss></profitloss>
            <forex></forex>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
</div>
