<div id="wrapper">

        <!-- Navigation -->
            
        <header></header>
        <subheader></subheader>
        <!-- /.navbar-top-links -->
        
               
        <!-- /.navbar-static-side -->

        <div id="page-wrapper" style="min-height: 561px;">

            <div ui-view></div>
            <hr>
            <div class="page-footer">
                <div style="float: left;"><a href="#">Bahasa Indonesia</a> | <a href="#">English</a></div>
                <div style="float: right;"><a href="#">Rates</a> - <a href="#">Term & Conditions</a> - <a href="#">Privacy Policy</a> - <a href="#">Help</a> - <a href="#">Contact Us</a></div>
                <div class="float-clear" style="height: 0;">&nbsp;</div>
                <hr>
                <div class="flex-hor-center" style="padding-top: 10px;">
                    <img src="../../img/Wirecard2.png" width="100">
                    <div style="padding-left: 5px; color: #999999">My Bank Internet service is a services of my bank tbk<br>loreng loreng macan tutul, loreng loreng macan tutul</div>
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
        
    </div>
